datasets==2.20.0 
torch==2.3.0
torchaudio==2.3.0 
torchvision==0.18.0 
wheel==0.43.0
unsloth @ git+https://github.com/unslothai/unsloth.git@933d9fe2cb2459f949ee2250e90a5b610d277eab
transformers==4.41.2